#ki {
  text-align: center;
}

#beker {
  text-align: center;
  margin-top: 30px;
}

#egyfelad {
  text-align: justify;
  width: 500px;
  margin: 0 auto 0 auto;
}

.paros {
  color: red;
}

.paratlan {
  color: blue;
}

table {
  text-align: center;
  margin: 0 auto 0 auto;
  border: 1px solid red;
  margin-top: 30px;
}