body {
  background-color: bisque;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#folap {
  text-align: center;
}

#leiras {
  text-align: justify;
  width: 500px;
  margin: 0 auto 0 auto;
}

h1 {
  color: darkblue;
  text-align: center;
}

.magenta {
  background-color: magenta;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

tr,
td {
  width: 300px;
  border: 1px solid red;
}

th {
  border: 1px solid black;
  background-color: lightblue;
}

#kiir {
  margin-top: 40px;
}

button {
  margin-top: 10px;
  background-color: green;
  border-radius: 20px;
  color: white;
}

.hibas {
  color: white;
}

#hibalap {
  text-align: center;
  background-color: red;
  height: 150px;
}

#hibas {
  background-color: white;
}