.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  border: 1px solid blue;
  width: 500px;
  text-align: center;
  margin: 0 auto 0 auto;
}
th{
  border: 1px solid red;
}
td{
  border: 1px solid blue;
}
body{
  background-color: lightgreen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: brown;
}
#haromszog{
  text-align: center;
}
#harom{
  margin-top: 30px;
}
tr, td{
  width: 200px;
  background-color: lightcoral;
  border: 2px solid black;
  text-align: center;
}
th{
  background-color: lightseagreen;
}
h2{
  color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#hiba{
  text-align: center;
  background-color: aliceblue;
}
button{
  text-align: center;
  background-color: lightcoral
}
#tablas{
  text-align: center;
}